body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  width: 400px;
}

h1 {
  font-size: 14px; 
  font-weight: bold;
  margin: 0;
  padding: 6;
  text-align: center;
  background-color: #2c2c2c;
  color: #f0f0f0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#playlist {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.song {
  display: flex;
  align-items: center;
  background-color: #333333;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding-right: 40px; /* アクティベートボタン用のスペース */
}

.song img {
  width: 80px;
  height: 45px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 12px;
}

.song-info {
  flex-grow: 1;
  overflow: hidden;
}

.song h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.song-controls {
  display: flex;
  gap: 5px;
}

.play-button,
.activate-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.activate-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.activate-button:hover {
  opacity: 1;
}

.icon-activate {
  font-size: 18px;
  color: #ffffff; /* 白色に変更 */
}

.activate-button:hover .icon-activate {
  color: #8b8b8b; /* ホバー時は明るい緑色に変更 */
}

.song-control-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-control-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.song-control-button.playing {
  background-color: #f73333;
}

.video-progress {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}
